@import url("./holberton_school-icon/style.css");
/* that should get us some icons */

:root {
    --font-family: 'Source Sans Pro', serif;
    --color-white: #ffffff;
    --color-barney: #C271FF;
    --color-dark: #071629;
    --color-lightbarney: #d296ff;
}

body {
    font-family: var(--font-family) !important;
}

.bg-barney {
    background-color: var(--color-barney);
}

.barneytext {
    color: var(--color-barney);
}

.btn {
    background-color: var(--color-barney);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
}

.btn:hover, .btn:focus {
    opacity: 0.9;
}

.biggie {
    font-size: 2.5rem;
}

/* background image */
.homey {
    background-image: url('./images/pic_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: var(--color-dark);
}
.pricey {
    background-image: url('./images/pic_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: var(--color-dark);
}
.ofcourse {
    background-image: url('./images/pic_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: var(--color-dark);
}

.home {
    text-transform: uppercase;
}


.burger:before {
	font-family: 'holberton_school-icon';
	content: "\e911";
	color: var(--color-white);
    font-size: 2rem;
}

li a:hover, li a:focus {
	color: var(--color-barney) !important;
}

.dropdown-item:hover {
    color: var(--color-barney) !important;
    background-color: var(--color-white);
}


.text-barney {
    color: var(--color-barney);
}

.bg-lightbarney {
    background-color: #d296ff;
}

::placeholder {
    color: var(--color-white) !important;
    opacity: .5 !important;
  }


.arrow {
    width: 2rem;
}

.crying {
    font-family: 'Coiny', sans-serif !important;
}

.opacity25 {
    opacity: .25;
}


@media screen and (max-width: 575px) {
    .homey {
        background-position: center top;
        background-size: 100vw;
    }
}

@media screen and (max-width: 767px) {
    .display-1 {
        font-size: 5rem;
    }
    .homey {
        background-size: auto;
    }
}

.form-control {
    border-top-right-radius: .5;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px #d296ff;
}

.tlra {
    border-top-left-radius: .25rem;
}

.form-control:hover {
    background-color: var(--color-lightbarney);
}
.form-control:active {
    background-color: var(--color-lightbarney) !important;
}
.form-control:focus {
    background-color: var(--color-lightbarney) !important;
}

/* for the popular videos section */

